<!DOCTYPE html>
<html>
    <head>
        <title>Rock Paper Scissors | Game Form</title>
    </head>

    <body>
        <h1>Rock Paper Scissors Game</h1>

        <a href="/about">Go to the About Page</a>

        <form action="/results" method="POST">
            <label for="user_choice">Choose your move:</label>
            <select name="user_choice">
                <option value="rock">Rock</option>
                <option value="paper">Paper</option>
                <option value="scissors">Scissors</option>
            </select>

            <button type="submit">Submit</button>
        </form>
    </body>
</html>